<header class="header header2">
  <div class="header2__logo">
    <a href="/">Company</a>
  </div>
  <nav class="header2__nav">
    <ul class="header2__nav-links">
      <li class="header2__nav-item">
        <a href="#">Link1</a>
        <ul class="header2__nav-sublinks">
          <li class="header2__nav-subitem"><a href="#">sublink1</a></li>
          <li class="header2__nav-subitem"><a href="#">sublink2</a></li>
          <li class="header2__nav-subitem"><a href="#">sublink3</a></li>
          <li class="header2__nav-subitem"><a href="#">sublink4</a></li>
        </ul>
      </li>
      <li class="header2__nav-item">
        <a href="#">Link2</a>
      </li>
      <li class="header2__nav-item">
        <a href="#">Link3</a>
      </li>
      <li class="header2__nav-item">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
          <i class="fas fa-user-alt"></i>
        </a>
      </li>
      <li class="header2__nav-item">
        <a href="{{ routes.cart_url }}">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header2__hamburger-icon">
    <i class="fas fa-bars"></i>
  </div>
</header>
{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
